<div id="data-section">
  <div id="data-Cards-real">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Active</h5>
        <h6 class="card-subtitle mb-2 text-muted">Real Time Data</h6>
        <p class="card-text dataNumber">{{ selectedCountryRecord?.Active }}</p>
      </div>
    </div>
    <div class="card card-content" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Confirmed</h5>
        <h6 class="card-subtitle mb-2 text-muted">Real Time Data</h6>
        <p class="card-text dataNumber">
          {{ selectedCountryRecord?.Confirmed }}
        </p>
      </div>
    </div>
    <div class="card card-content" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Deaths</h5>
        <h6 class="card-subtitle mb-2 text-muted">Real Time Data</h6>
        <p class="card-text dataNumber">{{ selectedCountryRecord?.Deaths }}</p>
      </div>
    </div>
    <div class="card card-content" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Total Recovered</h5>
        <h6 class="card-subtitle mb-2 text-muted">Real Time Data</h6>
        <p class="card-text dataNumber">
          {{ selectedCountryRecord?.Recovered }}
        </p>
      </div>
    </div>
  </div>
</div>
