/* You can add global styles to this file, and also import other style files */
.dataForm {
    padding: 20px 25px;
}
#data-Cards{
    display: flex;
    height: 150px;
    margin-top: 13px;
    justify-content: space-around;
    text-align: center;
}
.dataNumber{
    font-size: 30px;
    font-weight: 500;
    color: brown;
}
/* #data-section{
    margin: 0px auto;
} */
#data-Cards-real{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px 10px;
}
